<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test</title>
</head>
<body>
  <div class="message_holder"></div>

  <form action="" method="POST">
    <input name="shipping_code" type="text" disabled="true" value="18286292-2600-4a70-ade4-062455baeef3">
    <input name="lat" type="text" class="username" placeholder="Lat">
    <input name="lng" type="text" class="message" placeholder="Lng">
    <input id="sbmt" type="submit"/>
  </form>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script type="text/javascript">
    var socket = io('http://' + document.domain + ':' + location.port);
    socket.on( 'connect', function() {
      socket.emit( 'join', {
        shipping_code: '18286292-2600-4a70-ade4-062455baeef3'
      }, () => console.log('connected'))
    })
    socket.on( 'live tracking', function( msg ) {
      console.log(msg)
      $('div.message_holder').append('<div><b style="color: #000">'+msg.lat+'</b> '+msg.lng+'</div>')
    })
    var form = $( '#sbmt' ).on( 'click', function( e ) {
        e.preventDefault()
        let user_name = $( 'input.username' ).val()
        let user_input = $( 'input.message' ).val()
        for(let i=0; i < 100; i++) {
          socket.emit( 'send coordinate', {
            shipping_code: '18286292-2600-4a70-ade4-062455baeef3',
            lat: user_name,
            lng: user_input
          }, (a) => console.log(`done ${a}`))
        }
      })
  </script>
</body>
</html>